.products-box-card-name, .about-conteiner-box-text h5, .offer-text-main, .welcome-button-text, .basket-number, .basket-text, .navigation-size, .navigation-size a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

.about-bold, .welcome-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
}

.about-header, .offer-text-header, .welcome-text {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  letter-spacing: 0.36px;
  color: #7EB693;
}

.products-box-card-price-old, .about-conteiner-box-text p, .about-body {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #525C60;
}

.products-box-card-price-new, .products-box-card-vegetable {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.36px;
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

header {
  width: 100%;
  padding: 0px 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-leftbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 844px;
}

.logo {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ul {
  display: flex;
  gap: 40px;
}
.navigation-size, .navigation-size a {
  list-style-type: none;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #274C5B;
}
.navigation-size a {
  text-decoration: none;
}
.navigation-size :hover {
  color: #7EB693;
}
.navigation-big {
  font-size: 20px;
  margin-right: 20px;
}

.basket {
  border: 1px solid #D4D4D4;
  border-radius: 33px;
  padding: 7px 30px 7px 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket-image {
  background: #274C5B;
  border-radius: 100px;
  width: 56px;
  height: 56px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.basket-text {
  font-size: 17px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #274C5B;
  margin-right: 7px;
}
.basket-number {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #274C5B;
}

.conteiner {
  max-width: 1440px;
}

.welcome {
  display: flex;
}
.welcome-background {
  position: relative;
  background: #274C5B;
  border-radius: 0px;
  height: 913px;
}
.welcome-above {
  position: absolute;
  padding: 220px 1100px 250px 30px;
}
.welcome-text {
  margin-bottom: 14px;
}
.welcome-heading {
  font-size: 70px;
  line-height: 84px;
  letter-spacing: 0.36px;
  color: #274C5B;
  margin-bottom: 30px;
}
.welcome-button {
  background: #EFD372;
  border: 1px solid #EFD372;
  border-radius: 16px;
  padding: 24px 9px 24px 33px;
  display: flex;
  gap: 24px;
}
.welcome-button-text {
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
}
.welcome-button-arrow {
  width: 38px;
  height: 34px;
  border-radius: 100px;
  background: #335B6B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer {
  display: flex;
  justify-content: space-between;
  padding: 140px 30px;
}
.offer-left {
  position: relative;
  background: url(.jpg), #D4D4D4;
  border-radius: 30px;
  width: 665px;
  height: 378px;
}
.offer-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 105px;
  left: 55px;
}
.offer-text-header {
  color: #FFFFFF;
}
.offer-text-main {
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.36px;
  color: #FFFFFF;
}
.offer-right {
  position: relative;
  background: url(.jpg), #D4D4D4;
  border-radius: 30px;
  width: 665px;
  height: 378px;
}
.offer-color {
  color: #7EB693;
}
.offer-colorgreen {
  color: #274C5B;
}

.about {
  padding: 130px 33px 150px 30px;
  background: #F9F8F8;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 120px;
}
.about-image {
  border-radius: 0px;
  width: 675px;
  height: 642px;
}
.about-text {
  display: flex;
  flex-direction: column;
}
.about-header {
  text-transform: capitalize;
}
.about-bold {
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
}
.about-body {
  margin-top: 22px;
  margin-bottom: 56px;
}
.about-conteiner {
  display: flex;
  flex-direction: column;
}
.about-conteiner-box {
  display: flex;
  gap: 20px;
  align-items: center;
}
.about-conteiner-box-image {
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
}
.about-conteiner-box-image img {
  padding: 27px 23px 31px;
}
.about-conteiner-box-text {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 25px;
}
.about-conteiner-box-text h5 {
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.36px;
  color: #274C5B;
}
.about-button {
  background: #274C5B;
  display: flex;
  border: 1px solid #274C5B;
  border-radius: 16px;
  padding: 25px 71px 25px 33px;
}
.about-arrow {
  background: #335B6B;
}

.products-title {
  margin-left: 60px;
  padding: 0 548px 2px 547px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 42px;
}
.products-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 100%;
}
.products-box-card {
  display: flex;
  flex-direction: column;
  background: #F9F8F8;
  border-radius: 30px;
  width: 447px;
  height: 590px;
}
.products-box-card-vegetable {
  padding: 5px 20px;
  background: #274C5B;
  border-radius: 8px;
  margin-top: 30px;
  margin-left: 30px;
}
.products-box-card-image {
  width: 387px;
  height: 378px;
  padding: 0 30px 19px 30px;
}
.products-box-card-name {
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 0.36px;
  color: #274C5B;
  margin-left: 30px;
  margin-bottom: 11px;
}
.products-box-card-line {
  background: #D4D4D4;
  width: 387px;
  margin-left: 30px;
  margin-bottom: 11px;
}
.products-box-card-price {
  display: flex;
  align-items: center;
}
.products-box-card-price-old {
  font-size: 17px;
  text-decoration-line: line-through;
  color: #B8B8B8;
  margin-left: 30px;
  margin-right: 10px;
}
.products-box-card-price-new {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #274C5B;
  margin-right: 83px;
}
.products-box-card-price-stars {
  width: 14px;
  height: 13px;
  gap: 3px;
  display: flex;
  justify-content: flex-start;
}/*# sourceMappingURL=style.css.map */