%roboto400 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

%roboto700 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
}

%Yellowtail400 {
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    letter-spacing: 0.36px;
    color: #7EB693;
}

%OpenSans400 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: #525C60;
}

%OpenSans700 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #FFFFFF;
}
